.con:hover .con1 {
    filter: blur(5px);
  }
  
  .con1 {
    transition: all 0.5s ease-in-out;
  }
  
  .con .con1:hover {
    filter: blur(0);
  }

  .con1:hover{
    transform: scale(1.03);

  }


 